$ui.text.h1
	$fsz = 12em;
	font-size:$fsz;
	line-height:1.3em;
	letter-spacing:(.05em/$fsz);
	font-family:'Bebas';
	text-transform:uppercase;

$ui.text.h2
	$fsz = 6em;
	font-size:$fsz;
	line-height:1.3em;
	letter-spacing:(.05em/$fsz);
	font-family:'Bebas';
	text-transform:uppercase;

$ui.text.h3
	$fsz = 4.8em;
	font-size:$fsz;
	line-height:1.3em;
	letter-spacing:(.1em/$fsz);
	font-family:'Bebas';
	text-transform:uppercase;

$ui.text.h4
	$fsz = 3.2em;
	font-size:$fsz;
	line-height:1.3em;
	letter-spacing:(.1em/$fsz);
	font-family:'Bebas';
	text-transform:uppercase;

$ui.text.h5
	$fsz = 2.8em;
	font-size:$fsz;
	line-height:1.3em;
	letter-spacing:(.02em/$fsz);
	font-family:'Bebas';
	text-transform:uppercase;