//@import '~styles/env/entry.styl';
.container
	position:fixed;
	left:0;
	top:0;
	bottom:0;
	z-index:1;
	width:400px;
	background:rgba(red,10%);
	transform:translateX(-100%);
	transition:transform .3s;

.isActive
	transform:translateX(0%)