burger($height,$width,$strip-height,$bg-color,$hover-color,$transition-time)
	$indent = $height/2 - ($strip-height/2);
	&
		position:relative;
		display:block;
		width:$width;
		height:$height;
		cursor: pointer;
	
	& span 
		position: absolute;
		left:0;
		top:$indent
	
	& span,
	& span:before,
	& span:after 
		position: absolute;
		display:block;
		content: '';
		height: $strip-height;
		width: 100%;
		background: $bg-color;
	
	& span:before 
		top: $indent * -1;
	
	& span:after 
		bottom: $indent * -1;
	
	& span, & span:before, & span:after 
		transition: transform $transition-time, background $transition-time;
	
	&:hover
		& span,
		& span:before,
		& span:after 
			background:$hover-color;
	
	&.isActive span 
		transition: background 0s;
		background-color:transparent !important;
		&:before,
		&:after 
			background:$hover-color;
			
	&.isActive span:before, &.isActive span:after 
		top: 0;
	
	&.isActive span:before 
		transform: rotate(45deg);
	
	&.isActive span:after 
		transform: rotate(-45deg);