table
	border:1px solid #000;
	th,td
		border-right:1px solid #000;
		padding:3px;
		&:last-child
			border-right:0;
	tr
		td,th
			border-bottom:1px solid #000;
		&:last-child td
			border-bottom:0;
.excel
	background:#fff;

.button
	display:inline-block;
	padding:5px;
	border-radius:5px;
	background:#cce;
	border:0;