html
	box-sizing:border-box;
	font-size:$rem-value;
	font-family:$font-first;
body
	background:$glb-color.body;
*
	box-sizing:border-box;
	&:before,
	&:after
		box-sizing:border-box;
	outline:none;
//a
//	decoration-underline('fade-in',#000,#000);

work-layout();