//site
$rem-value = 10px;
$font-size = 1.6rem;
$font-first := 'arial', sans-serif;
$font-second := 'verdana', sans-serif;
$breakpoints := {
  'xxs': 0,
  'xs' : 600px,
  'sm' : 700px,
  'md' : 960px,
  'lg' : 1280px,
  'xl' : 1440px,
  'xxl' : 1600px//max
}
$site-max-width = $breakpoints.xxl;
//grid
$grid-columns := 12;
$glb-gutter = 1.6rem;
$glb-half-gutter = ($glb-gutter/ 2);
//indents
$screen-indents = 14rem;
$screen-indents-mobile = 2rem;
//animation
$glb-anim-drt := .2s

$fwh := {
	'thin':100,
	'extra-lite':200,
	'lite':300,
	'regular':400,
	'medium':500,
	'semi-bold':600,
	'bold':700,
	'extra-bold':800,
	'black':900
}

$glb-color := {
	body:#fff
}