$n = 4; // number of rings, same as in Haml code
$d = 1.5em; // base diameter

.container
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;

.fixed
	position:fixed;

.ring
	position: absolute;
	top: 50%;
	left: 50%;
	border: solid 0;
	border-color: #000 transparent;
	border-width: 0.25em 0.25em 0 0;
	border-radius: 50%;
	animation: r 0s linear infinite;

for $i in (1..$n)
	$d = $d + 1.5em;
	.ring:nth-child({$i})
		margin: -.5em*$d;
		width: $d;
		height: $d;
		animation-duration: (2.3s/($n - $i+1));


@keyframes r {
	to {
		transform: rotate(1turn);
	}
}
